@import "tailwindcss";


.leaflet-bus-icon,
.leaflet-stop-icon {
  border-radius: 50%; /* This makes the corners fully rounded, creating a circle */
}

.leaflet-bus-icon{
  border: 3px solid #581c87;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.leaflet-stop-icon {
  border: 1px solid red;
}
