@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add Leaflet styles for the map */
@import 'leaflet/dist/leaflet.css';

/* Override leaflet-defaulticon-compat styles to make sure custom icons work */
.leaflet-container .leaflet-marker-icon {
  background-color: transparent !important;
  border: none !important;
}
